@import "tailwindcss";
@font-face {
    font-family: 'Title';
    src: url('@/assets/font/TrajanPro-Bold.otf') format('opentype');
}
@font-face {
    font-family: 'Content';
    src: url('@/assets/font/eb-garamond.12-regular.otf') format('opentype');
}
@font-face {
    font-family: 'CP';
    src: url('@/assets/font/CP Font.ttf') format('truetype');
}
@font-face {
    font-family: 'hkr';
    src: url('@/assets/font/TrajanPro-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'ur';
    src: url('@/assets/font/ubuntu.regular.ttf') format('truetype');
}
@font-face {
    font-family: 'alegreya';
    src: url('@/assets/font/alegreya-sans.regular.ttf') format('truetype');
}


html, body {
    overscroll-behavior: none;
    overflow: hidden;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f8f8;
    z-index: -1;
}

.title {
    font-family: Title;
}

.content {
    font-family: Content;
}
